@import "tailwindcss";

@keyframes step-pass {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.animate-step-pass {
    animation: step-pass 0.6s ease-in-out;
}

@keyframes signup-progress {
    from {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        opacity: 1;
    }

    to {
        stroke-dasharray: 100;
        stroke-dashoffset: 0;
        opacity: 0;
    }
}

.signup-loader-progress {
    opacity: 1;
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: signup-progress 1.2s ease-out forwards;
}

@keyframes signup-check-draw {
    from {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
    }

    to {
        stroke-dasharray: 100;
        stroke-dashoffset: 0;
    }
}

.signup-check-draw {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: signup-check-draw 0.45s ease-out forwards;
    animation-delay: 1.2s;
}

@keyframes slide-toast {
    0% {
        opacity: 0;
        transform: translateY(-130%);
    }

    15% {
        opacity: 1;
        transform: translateY(-77%);
    }

    85% {
        opacity: 1;
        transform: translateY(-77%);
    }

    100% {
        opacity: 0;
        transform: translateY(-130%);
    }
}

.animate-slide-toast {
    animation: slide-toast 1.5s ease-in-out forwards;
}

@keyframes toast-timeBar {
    0% {
        opacity: 0;
        width: 0%;
    }

    25% {
        opacity: 1;
        width: 25%;
    }

    50% {
        opacity: 1;
        width: 50%;
    }

    75% {
        opacity: 1;
        width: 75%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

.animate-toast-timer {
    animation: toast-timeBar 1.3s ease-out forwards;
}

@keyframes rotate-refresh {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.refresh-icon:hover {
    animation: rotate-refresh 1s ease-in-out;
}